
body {
  background-color: #000;
  background-image: url('./img/backgroundTexture.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  text-align: center;
  margin: 15px auto 25px auto;
  width: 100%;
}

#title {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #fff;
}

#bodyContainer {
  width: 75%;
  margin: auto;
}

#addSongInputBox {
  width: 100%;
  height: 40px;
}

#addSongButton {
  width: 100%;
  padding: 0;
  height: 40px;
  background-image: url(./img/ic_add_white_36px.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#controlPanel {
  width: 50%;
  border-radius: 15px;
  margin: auto;
  padding: 15px;
  background-color: #fffacd;
  position: relative;
}

.col-md-6 {
  padding: 0;
}

#controlButtons {
  width: 50%;
  margin: 35px auto 0 auto;
  text-align: left;
}

#playPauseButton {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  text-align: left;
}

#playPauseButton.play {
  background-image: url(./img/ic_play_arrow_black_24px.svg);
}

#playPauseButton.pause {
  background-image: url(./img/ic_pause_black_24px.svg);
}

#skipSongButton {
  width: 50px;
  height: 50px;
  background-image: url(./img/ic_skip_next_black_24px.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  text-align: left;
}


/* Showcase */

#currentSongShowcase {
    width: 120%;
    text-align: center;
    margin: 0 auto;

    background: #eee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eee, #aaa);
    background: -o-linear-gradient(#eee, #aaa);
    background: -moz-linear-gradient(#eee, #aaa);
    background: linear-gradient(#eee, #aaa);
    -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);

    -webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.27);

    border-radius: 36px;
    padding: 15px;
    position: absolute;
    top: 62px;
    left: -10%;
}

#currentSongShowcaseAlbumArt {
    border: 1px solid #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;

    -webkit-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.35);
    box-shadow: 2px 3px 10px 1px rgba(0,0,0,0.35);
}

#currentSongShowcaseTitle {
  font-size: 34px;
  color: #000;
  text-align: left;
  margin-top: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#currentSongShowcaseArtist {
  font-size: 25px;
  color: #000;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Song List */

#songListContainer {
  width: 100%;
  margin: auto;
}

#songListSpacer {
  height: 275px;
  display: none;
}

#songList {
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding: 0;
}

.songListEntry:nth-child(even) {
  background-color: #eee;
}

.songListEntry:nth-child(odd) {
  background-color: #fffff0;
}

.songListEntryText {
  display: inline-block;
  font-size: 14px;
  color: #000;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  padding: 0 0 0 25px;
  list-style-type: none;
}

.removeSongButton {
  display: inline-block;
  float: right;
  background-image: url(./img/ic_clear_black_18px.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  margin: 8px 8px 0 0;
  width: 18px;
  height: 18px;
}

.removeSongButton:hover {
  background-image: url(./img/ic_clear_grey_18px.svg);
}
